html {
scroll-behavior: smooth;
}

body {
font-family: 'Poppins', sans-serif;
margin: 0;
}

.navigation {
	background-image: url('bg-image.jpg');
}

.progress-container {
	width: 100%;
	height: 6px;
	background: #ccc;
	position: fixed;
	top: 41px;
	left: 0px;
}

.progress-bar {
	padding: 0px;
	height: 6px;
	background-color: #008000;
	width: 0%;
	/* width: 100%; */
}

nav .progress-container {
	display: block;
	margin-top: 5px;
}

nav a:hover::after {
	transform: translateY(0);
	opacity: 1;
}
#navigation {
	float: right;
	margin-right: 30px;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	position: sticky;
	top: 2px;
	background: transparent;
}

#navigation a {
	color: white;
	text-orientation: 1px;
	text-shadow: 2px 2px #7094db;
	text-decoration: none;
}

#navigation a:hover {
	color: white;
	text-shadow: 2px 2px #ff99ff;
}

.home-page{
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 4px;
}

.home-page p {
	font-weight: 900;
	word-spacing: none;
	font-size: 30px;  /* 1.875em; */
	text-shadow: 10px 1px 10px red;
}

.home-page span {
	color: #f2f2f2;
	font-family: Copperplate, Papyrus, fantasy;
}

#resume-btn {
	padding: 10px;
	margin: 10px;
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	background: linear-gradient(to right, #3377ff, #0044cc);
	border-radius: 25px;
	border-color: #3377ff;
	text-decoration: none;

}
#resume-btn:hover{
	color: white;
	text-shadow: 2px 2px 2px #ff99ff;
	text-decoration: none;
}
